.hidden {
  display: none;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box span {
  font-size: 3em;
  color: antiquewhite;
  margin-bottom: 3vw;
}

/* @keyframes inputClick {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 5px solid #fbe100;
  }
}

.login-box input {
  animation: inputClick 1s ease-in-out forwards;
} */
