.main-box {
  background-color: rosybrown;
}

.time-box {
  display: flex;
  background-color: royalblue;
  width: 70vw;
  height: 30vh;
}

.time-box__watch {
  background-color: seagreen;
  width: 48%;
  margin-right: 4%;
}

.time-box__timer {
  background-color: skyblue;
  width: 48%;
}

.main-box .greeting {
  margin: 3vh 0 5vh 0;
  font-size: 2em;
  text-align: center;
}

.todo-box {
  margin-bottom: 40vh;
  text-align: center;
}

.momentum {
  text-align: center;
  margin: 0 2vw 2vw 5vh;
  display: flex;
  flex-direction: column;
}

.momentum__quotes {
  font-size: 1.5em;
  margin-bottom: 1vh;
  opacity: 0.7;
}

.momentum__author {
  font-size: 1em;
  opacity: 0.4;
}
